body {
  font-family: $primary-font;
  background-color: $primary-color;
  color: $secondary-color;
  font-size: large;
  text-align: center;
  margin: auto;
}


.loader {
  // W3 schools how-to CSS Loader
  border: 8px solid #fefefe;
  border-top: 8px solid $highlight-color;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}