#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px auto);
  gap: 1rem;
}

header {
  background: $secondary-color;
  color: $primary-color;
  grid-column: 1/4;


  h1 {
    float: left;
    margin: $gutter;
  }
  li {
    display: inline-block;
    margin: $gutter $gutter-medium;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

main {
  width: $site-width;
  margin: $gutter auto;

  li {
    background-color:#ffffff2c;
    padding: $gutter-small;
    margin: $gutter-medium;
    border-radius: $round-border;
  }
}

#history {
  margin: 0 0 0 16px;
  grid-column: 1;
  border: 1px solid $secondary-color;
  border-radius: $round-border;
}

input {
  width: 40vw;
  padding: 8px 10px;
}

button {
  padding: 8px 10px;
  margin: 2px;
  border: none;
  background-color: $white;
  &:hover {
    background-color: $secondary-color;
    color: $white;
  }
  
  
  
}
