// Global config
$site-width: 960px;
$primary-font: 'helvetica';

// Colors
$primary-color: #cabac8;
$secondary-color: #08415C;
$highlight-color: #E0CA3C;
$red: #F34213;
$black: #333;
$white: #fff;

// Gutters
$gutter: 2vw;
$gutter-medium: $gutter / 2;
$gutter-small: $gutter / 4;

// General styling
$round-border: 3px;